* {
    box-sizing: border-box;
}

html {}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
    background-color: darkgray;
    height: 70px;
    padding-top: 10px;
    padding-left: 20px;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #2196F3;
    background-color: #3C658F;
    color: white;
    border: 2px solid black;
}

.topnav .search-container {
    float: left;
    text-align: center;
    border-radius: 5px;
    padding-left: 20px;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 500px;
}


.topnav .search-container button:hover {
    background: #ccc;
}

.art {
    text-align: center;
    border: 2px solid black;
    border: 2px solid #3C658F;
    background-color: rgb(245, 247, 255);
}

.bannerWords {
    color: black;
    text-shadow: #DADCF4 4px 4px;
    font-size: 40px;
    text-align: center;
    font-family: "Brush Script MT";
}
.learnButton{
    text-align: center;
    background-color: #DADCF4;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 20px;

}