* {
    box-sizing: border-box;
}
/*for the learn more button*/
html {
    scroll-behavior:smooth;
}

a {
    text-decoration: none;
    color: black;
}

#down {
    margin-top: 100%;
    padding-bottom: 25%;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/*for the header made it so it stays at the top*/
.topnav {
    overflow: hidden;
    width: 100%;
    position: fixed;
    background-color: #e9e9e9;
    background-color: darkgray;
    height: 70px;
    padding-top: 10px;
    padding-left: 20px;
    border: 1px solid grey;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #2196F3;
    background-color: #3C658F;
    color: white;
    border: 2px solid black;
}
/*search bar*/
.topnav .search-container {
    float: left;
    text-align: center;
    border-radius: 5px;
    padding-left: 20px;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 500px;
}


/*the logo for cereal city*/
.art {
    padding-top: 110px;
    padding-bottom: 40px;
    text-align: center;
    border: 2px solid black;
    border: 2px solid #3C658F;
    background-color: rgb(245, 247, 255);
}

.bannerWords {
    margin-top: 40px;
    color: black;
    text-shadow: #DADCF4 4px 4px;
    font-size: 40px;
    text-align: center;
    font-family: "Brush Script MT";
    margin-bottom: 50px;
}
.learnButtonOut{
    text-align: center;
    display: flex;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 20px;
    justify-content: center;
    

}
.learnButton{
    background-color: #DADCF4;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    margin-top: 40px;
    margin-bottom: 20px;

}
.learnButtonOut button:hover {
    border: 2px solid #3C658F;


}
.reviewImage{
    display: block;
    background-color:darkgray;
    width: 100%;
    height: 350px;
    margin-top: 100px;
}
.review{
    display: block;
    float: left;
    width: 100%;
}
/*footer 1-6 have nothing in them so basically useless until footer 7*/
.footer1{
    grid-area: one;
    margin-top: 30px;
}
.footer2 {
    grid-area: two;
    margin-top: 30px;
}
.footer3 {
    grid-area: three;
    margin-top: 30px;
}
.footer4 {
    margin-top: 30px;
    grid-area: four;
}
.footer5 {
    margin-top: 30px;
    grid-area: five;
}
.footer6 {
    margin-top: 30px;
    grid-area: six;
}
.footer7 {
    grid-area: seven;
    margin-top: 70px;
    text-align: center;
    font-size: 10px;
}
.container {
    display: grid;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #DADCF4;
    grid-template-columns: (50px 50px 50px);
    grid-template-rows: (100px 100px 100px);
    grid-template-areas: 
    "one two three"
    "four five six"
    "seven seven seven";

}
footer{
    background-color: #3C658F;
    height: 205px;
    margin-top: 100px;
}
.cent{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
}
/*this is where the description and hours go*/
.abt{
    margin-top: 200px;
    width: 100%;
    height: 440px;
    background-color:#DADCF4;
    border: 1px solid #3C658F;
}
.abt img{
    width: 350px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    height: 400px;
    width: 400px;
    border: 1px solid #3C658F;
    border-radius: 4px;
}
.abt h2{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
.abt h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;

}
/* makes it so when the screen gets smaller the search bar dosent disappear  */
@media only screen and (max-width: 960px) {
    .topnav {
            overflow: hidden;
            width: 100%;
            position: fixed;
            background-color: #e9e9e9;
            background-color: darkgray;
            height: 150px;
            padding-top: 10px;
            padding-left: 20px;
            border: 1px solid grey;
        }
                .topnav .search-container {
                    float: left;
                    border-radius: 5px;
                    padding-left: 20px;
                }
    body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }
}